[package]
name = "polars_xdt"
version = "0.14.13"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "polars_xdt"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "abi3-py38"] }
pyo3-polars = { version = "0.14.0", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
chrono = { version = "0.4.38", default-features = false, features = ["std", "unstable-locales"] } 
chrono-tz = "0.9.0"
polars = { version = "0.40.0", features = ["strings", "dtype-date"], default-features = false }
polars-time = { version = "0.40.0", features = ["timezones"], default-features = false }
polars-ops = { version = "0.40.0", default-features = false }
polars-arrow = { version = "0.40.0", default-features = false }

[target.'cfg(target_os = "linux")'.dependencies]
jemallocator = { version = "0.5", features = ["disable_initial_exec_tls"] }
